# Git ignore of TodoList Project
# See repository at https://github.com/melvinmajor/TodoList
# ==========================================================

# Files and folders of IDE
.idea/
*.iml

# Maven export project folder
target/

# Other files
.classpath
.metadata/
.settings/
.project

# Documents and useless files
uml/plantuml\.jar
*.pdf
*.DS_Store

# config files
*.cfg
*.json
