# Git ignore of TodoList Project
# See repository at https://github.com/melvinmajor/TodoList
# ==========================================================

# Files and folders of IDE
.idea/
*.iml

# Maven export project folder
target/

# Other files
.classpath
.metadata/
.settings/
.project

# Documents and other useless files
*.pdf
*.jar
*.DS_Store
